[Unit]
Description=Goblin background installation
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
ExecStart=/opt/goblin/setup/installer.sh
ExecStopPost=/opt/goblin/setup/installer.sh recover
TimeoutStopSec=420
KillMode=control-group
UMask=0077
StandardOutput=append:/var/log/goblin-installer.log
StandardError=append:/var/log/goblin-installer.log

[Install]
WantedBy=multi-user.target
